<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="logs\\nlogInternal.log">

	<targets>
		<target
		  name="fileLogInfo"
		  encoding = "UTF8"
		  archiveAboveSize="4000000"
		  archiveEvery="Day"
		  archiveNumbering = "DateAndSequence"
		  maxArchiveDays="8"
		  xsi:type="File"
		  fileName="logs\UsersService\Infos\${logger}\Infos.txt"
		  archiveFilename = "logs\UsersService\Infos\${logger}\Infos.{####}.txt"
		  layout="${longdate}|${uppercase:${level}}|${message}"
    />
		<target
		  name="fileLogError"
		  encoding = "UTF8"
		  archiveAboveSize="4000000"
		  archiveEvery="Day"
		  archiveNumbering = "DateAndSequence"
		  maxArchiveDays="8"
		  xsi:type="File"
		  fileName="logs\UsersService\Errors\${logger}\Errors.txt"
		  archiveFilename = "logs\UsersService\Errors\${logger}\Errors.{####}.txt"
		  layout="${longdate}|${uppercase:${level}}|${message}"
    />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="fileLogInfo" />
		<logger name="*" minlevel="Error" writeTo="fileLogError" />
	</rules>
</nlog>